################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CTest/.vs/CTest/v16/Browse.VC.opendb
/CppTest/.vs/CppTest/v16/Browse.VC.opendb
