################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/CTest/.vs/CTest/v16/Browse.VC.opendb
/CppTest/.vs/CppTest/v16/Browse.VC.opendb
/test문서.txt
/test문서1.txt
/test문서2.txt
/MFCApp1
/C#/WindowsFormsApp1
/MFCnotepad2
/MFCnotepad1
/MFCmemo1
/C#/myDatabase.mdf
/C#/myDatabase_log.ldf
/.vs/IoT225/v16/Browse.VC.opendb
